:root{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    
    --mid-orange-red:#e25a06
}

*{
    box-sizing: border-box;
}

body{
    margin:0;
}

button{
    cursor: pointer;
}

section div.light-orange-bg{
    background:#ebad14;
}

section div.mid-orange-bg{
    background:#f68d2e;
}

section div.red-orange-bg,.red-orange-bg{
    background:#e25a06;
}

section div.blue-bg,.blue-bg{
    background:#00aec7;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img{
    margin:10px;
    margin-left:2rem;
    height: 65px;
}

footer img{
    height: 65px;
    margin:1.5rem
}

nav{
    display: flex;
    align-items: center;
}

nav ul{
    display: flex;
    list-style: none;
    align-items: center;
}



nav a{
    padding: 1rem;
    font-size: 1.3rem;
    font-weight: 700;
    text-decoration: none;
    margin:.8rem;
    color:black;
}

main.careers-main{
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    margin-top:0px;
    justify-content: center;
    align-items: flex-start;

}
main.careers-main section{
    max-width: 80vw;
    margin: auto;
    width: 600px;
}

main.careers-main h2{
    font-weight: 500;
    font-size: 2rem;
    color: #e25a06;
}

h4{
    font-size: 1.5rem;
}

.careers-main h4{
    font-size: 1.3rem;
}

p,li{
    font-size: 1.3rem;
    letter-spacing: .03rem;
}

.hero{
    position: relative;
}

.hero .blur-load{
    height: 50.1vw;
}

.hero img{
    width: 100%;
    z-index: 0;
}

.hero h1{
    position: absolute;
    top:50%;
    z-index: 10;
    color: white;
    left:45%;
    transform:translate(-70%,-100%);
    font-size: 6vw;
    line-height: 2rem;
}

.buttons-section{
    max-width: 1200px;
    margin:auto;
    margin-top:20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (max-width:700px) {
    .buttons-section{
        grid-template-columns: 1fr;
    }
    .buttons-section>.left{
        grid-row:2;
    }
}

.buttons-section>.middle,.buttons-section>.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem auto;
    margin:1.5rem auto;
}

.buttons-section>.left>img{
    width:200px;
    margin-bottom: .3rem;
}

.buttons-section>.left button{
    padding:.3em .8em;
    width: unset;
}

.buttons-section button{
    margin:.4rem;
    padding:.4em;
    width: 200px;
    border-radius: 2rem;
    color:white;
    border: none;
    font-size: 1.4rem;
    cursor: pointer;
}



.grid-cont{
    display: flex;
    justify-content: center;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: .5rem;
    row-gap: .5rem;
}

.grid>div{
    width: 100%;
    max-width: 600px;
    max-height: 600px;
    height:49vw;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.grid div:nth-child(even){
    justify-content: flex-start;
}

.grid .text-cont{
    background: transparent;
    padding-top:20%

}

.grid img{
    width: 100%;
    height: 100%;
    margin:0 !important;
}

.grid div *{
    margin: 0.5em;
    margin-right: 4rem;
    margin-left: 2rem;
}

.grid h2{
    text-transform: uppercase;
    font-size: 2.2rem;
    margin-bottom: 0em;
}

.grid h4{
    font-size: 1.5rem;
}

.grid p{
    margin-top:1em;
    font-size: 1.4rem;
    font-weight: 200;
}

.top-right-cell{
    border-radius: 0 100% 0 0;
}

.bottom-left-cell,.bottom-left-cell>img{

    border-radius: 0 0 0 100%;
}

footer{
    border-bottom: #ebad14 solid 20px;
}

form{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin:auto;
}

form>div{

    display: flex;
    margin-bottom: 1em;
    flex-direction: column;
    font-size: 1.5rem;
}

form input,form textarea{
    font-size: 1.5rem;
    width: 600px;
    border: none;
    border-bottom: 1px solid grey;
    margin-top: 0.6em;
    max-width: 80vw;
}

textarea{
    width: 600px;
    height: 400px;
    border: 1px grey solid !important;
    resize: none;
}

form button{
    font-size: 1.5rem;
    padding: 0.5em 2em;
    width: min-content;
    color: white;
    background: #00aec7;
    border: none;
    border-radius: 1.75rem;
}

.highlight{
    font-weight: bold;
    color:#e25a06;
}

.menu-cont h1{
    margin-bottom: 50px;
}

.menu-cont h3{
    font-weight: 400;
    font-size: 1.3rem;
}

.menu-cont h3 .highlight{
    font-weight: 600;
}

.menu-cont ul{
    list-style: none;
    margin-block-start: 0px;
    padding-inline-start: 0px;
    margin-bottom: 70px;
    margin-top: 30px;
}

.menu-cont li{
    margin-bottom: .4em;
}

.map{
    width: 600px;
    max-width: 80vw;
}

.contact-details{
    margin-bottom: 100px;
}
.contact-cont p{
    margin: 0.3rem;
}



@media screen and (max-width:925px) {
    .grid .text-cont{
        padding-top:1rem;
    }
    .grid>div:nth-child(2) .text-cont{
        padding-top: 5rem;
    }

}

@media screen and (max-width:933px) {
    .grid h2{
        font-size: 3vw;
    }
    .grid h4{
        font-size: 2.5vw;
    }
    .grid p{
        font-size: 2vw;  
        margin-right:2rem;
    }
    .buttons-section button{
        font-size: 1.3rem;
        width: 200px;
    }
    footer img{
        height: 60px;
    }

}

@media screen and (max-width:600px){
    .hero h1{
        font-size: 2.5rem;
        line-height: 2rem;
    }
    .grid h2{
        font-size: 8vw;
    }
    .grid h4{
        font-size: 6vw;
    }
    .grid p{
        font-size: 2vw;  
    }

    .grid{
        grid-template-columns: 1fr;
    }

    .grid>div{
        height: 100vw;
    }
    .grid .text-cont{
        padding-top: 1rem !important;
        /* width: 100%; */
    }
    .grid .text-cont *{
        margin-right: 1rem;
        margin-left: 1rem;  
    }
    .grid p {
        margin-right: 1rem;
        margin-left: 1rem;
        font-size: 1.3rem;
    }
    .top-right-cell,.bottom-left-cell{
        border-radius: 0;
    }
    main.careers-main{
        padding-top: 0px;
        margin-top: 25px;
    }
    .bottom-left-cell, .bottom-left-cell>img{
        border-radius: 0;
    }
}

.mobile-show{
    display: none;
}

@media screen and (max-width:500px) {
    .mobile-show{
        display: unset;
    }
    .mobile-hide{
        display: none;
    }
}


.underline{
    text-decoration: underline;
}

.section-centerer{
    box-sizing: border-box;
    width: 100%;
    max-width: 900px;
    margin:auto;
    padding:0 2rem;
}

.blur-load{
    background-size: cover;
}
